In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('per_cap.csv')
df.head(3)

   year       income
0  1970  3399.299037
1  1971  3768.297935
2  1972  4251.175484

In [8]:
%matplotlib.inline
plt.xlabel("per capita income is US$")
plt.ylabel("Year")
plt.scatter(df.income , df.year)

UsageError: Line magic function `%matplotlib.inline` not found.